body{
    margin:0;
    font-family:Segoe UI,Tahoma,Geneva,Verdana,sans-serif;
}

.create-page{
    min-height:100vh;
    background:linear-gradient(135deg,#0f1117,#1b1f27,#0d1015);
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
}

.create-card{
    width:470px;

    background:#20242d;

    border-radius:22px;

    padding:45px;

    text-align:center;

    box-shadow:
    0 0 35px rgba(0,0,0,.45);

    position:relative;

    z-index:5;
}

.create-title{
    color:white;

    font-size:48px;

    margin-bottom:10px;
}

.create-subtitle{
    color:#9aa3b2;

    margin-bottom:35px;
}

.name-input{

    width:100%;

    padding:16px;

    border:none;

    border-radius:12px;

    background:#2c313d;

    color:white;

    font-size:18px;

    outline:none;

    box-sizing:border-box;
}

.name-input:focus{

    box-shadow:0 0 12px #39d353;
}

.create-btn{

    margin-top:25px;

    width:100%;

    height:58px;

    border:none;

    border-radius:14px;

    background:#39d353;

    color:white;

    font-size:22px;

    font-weight:bold;

    cursor:pointer;

    transition:.25s;
}

.create-btn:hover{

    transform:scale(1.03);

    box-shadow:0 0 25px rgba(57,211,83,.45);
}

.room-box{

    margin-top:35px;

    border-top:1px solid #383d48;

    padding-top:25px;

    color:white;
}

.room-box p{

    color:#d6d6d6;
}

.copy-btn{

    margin-top:15px;

    width:100%;

    height:48px;

    border:none;

    border-radius:10px;

    background:#3c82f6;

    color:white;

    font-size:18px;

    cursor:pointer;
}

.start-btn{

    margin-top:15px;

    width:100%;

    height:52px;

    border:none;

    border-radius:12px;

    background:#2ea043;

    color:white;

    font-size:20px;

    font-weight:bold;

    cursor:pointer;
}